@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');/*importando fontes do google para o site*/

* {/*deixando o site conforme a tela*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {/*barra azul da navbar e rodapé*/
    background-color: #18929D;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-image { /*logotipo do site*/
    width: 15%;
    scale: 2;
}

nav ul { /*navbar superior*/
    display: flex;
    align-items: center;
    list-style: none;
}

nav li a {/*navbar superior*/
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: 20px;
}

nav li a:hover {/*animação da navbar superior*/
    background-color: white;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    height: auto;
}

main {
    flex: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.308)), url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    align-items: center;
    height: auto;
}

.banner {/*parte do fundo do site*/
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rodape {/*parte do rodapé*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape li a {/*parte do rodapé*/
    background-color: #18929D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

/*------------------------ Parte do conteúdo principal ---------------------------*/

.tipo-servico{/*adicionando efeito de vidro*/
    backdrop-filter: blur(5px);
    border: 1px solid #18929D;
    border-radius: 10px;
    /* display: block; */
    /* width: auto; */
    padding: 10px;
    /* margin: 80px 20px 80px 20px; */
    scale: 0.8;
}

.tipo-servico h1{/*alterando cor e tamanho da fonte do titulo*/
    color: #fff;
    font-size: 50px;
    margin: 50px 0;
}

.tipo-servico a:hover{/*animação do texto do link*/
    color: #18929D;
    transition: 3ms;
}

.tipo-servico li{/*deixando a foto em cima do texto*/
    margin-top: 8px;
    display: inline-flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
}

.tipo-servico a{/*alterando cor e retirando decoração do texto*/
    font-size: 25px;
    color:#fff;
    text-decoration: none;
}

.tipo-servico ul li img{/*ajustando tamanho da imagem*/
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border: #18929D 2px solid;
}

@media only screen and (max-width: 1000px) {/*deixando o sistema responsivo*/
    body {
        background-color: lightblue;
    }
    
    nav ul {
        flex-direction: column;
    }
    
    .banner {
        flex-direction: column;
    }
}

@media only screen and (max-width: 980px){/*deixando o sistema responsivo*/
    .banner {/*parte do fundo do site*/
        /* height: 100vh; */
    }
}

@media only screen and (max-width: 800px){/*deixando o sistema responsivo*/
    .banner {/*parte do fundo do site*/
        /* height: 100vh; */
    }
}
